.menu {
  position: absolute;
  top: 0;
  align-items: center;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.no-animation {
  animation: none;
}
.menu-open {
  .menu-trigger {
    animation: menuCircleRotateForward 1.5s forwards ease-out, menuCircleFadeForward 0.5s 1.5s forwards ease-out;
  }
  .menu-bg, .menu-circle {
    animation: menuBgFadeForward 0.5s 1.5s forwards ease-out;
    pointer-events: all;
  }
}

.menu-closed {
  .menu-trigger {
    animation: menuCircleRotateReverse 1.5s forwards ease-out, menuCircleFadeReverse 0.5s forwards ease-out;
  }
  .menu-bg, .menu-circle {
    animation: menuBgFadeReverse 0.2s forwards ease-out;
  }
}

.menu-bg {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
  align-items: center;
  justify-content: center;
  svg {
    min-width: 1923px;
    margin-top: -2px;
    margin-left: -5px;
  }
}

.menu-circle {
  position: absolute;
  z-index: 2;
  display: block;
  visibility: hidden;
  overflow: hidden;
  min-width: 392.5px;
  min-height: 392.5px;
  pointer-events: none;
  opacity: 0;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.6);

  &:hover {
    & ~ .menu-bg {
      .menu-slice {
        opacity: 1;
      }
    }
  }
}

.menu-trigger {
  position: absolute;
  z-index: 3;
  top: 50px;
  left: calc(50% - 38px);
  display: flex;
  width: 76px;
  height: 76px;
  pointer-events: all;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.6);
  align-items: center;
  justify-content: center;
}

.menu-slice {
  transition: .2s all;
  opacity: 0;
}

@keyframes menuCircleRotateForward {
  from {
    top: 50px;
  }
  
  to {
    top: calc(50% - 38px);
    transform: rotate(180deg);
  }
}

@keyframes menuCircleRotateReverse {
  from {
    top: calc(50% - 38px);
    transform: rotate(180deg);
  }
  
  to {
    top: 50px;
  }
}

@keyframes menuCircleFadeForward {
  from {
    background-color: rgba(0,0,0,0.6);
  }
  
  to {
    background-color: transparent;
  }
}

@keyframes menuCircleFadeReverse {
  from {
    background-color: transparent;
  }
  
  to {
    background-color: rgba(0,0,0,0.6);
  }
}

@keyframes menuBgFadeForward {
  from {
    visibility: hidden;
    opacity: 0;
  }
  
  to {
    visibility: visible;
    opacity: 100%;
  }
}

@keyframes menuBgFadeReverse {
  from {
    visibility: visible;
    opacity: 100%;
  }
  
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.menu-link {
  // display: none;
  visibility: hidden;
  transition: .2s all;
  opacity: 0;

  &.menu-circle-link-hover {
    visibility: visible;
    opacity: 100%;
  
  }
}

.menu-circle-link {
  @include type-menu;
  position: absolute;
  top: calc(50% - 76px);
  left: calc(50% - 76px);
  display: flex;
  width: 152px;
  height: 152px;
  transition: .2s all;
  text-align: center;
  text-decoration: none;
  color: rgba(255,255,255,0.7);
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  &:hover {
    color: rgba(255,255,255,1);
  }
}

.center-circle {
  position: absolute;
  z-index: 1000;
  top: calc(50% - 38px);
  left: calc(50% - 38px);
  width: 76px;
  height: 76px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.6);
}

#menuLink1 {
  transform: rotate(-90deg) translate(120.25px) rotate(90deg);
}

#menuLink2 {
  transform: rotate(-25deg) translate(120.25px) rotate(25deg);
}

#menuLink3 {
  transform: rotate(25deg) translate(120.25px) rotate(-25deg);
}

#menuLink4 {
  transform: rotate(90deg) translate(120.25px) rotate(-90deg);
}

#menuLink5 {
  transform: rotate(155deg) translate(120.25px) rotate(-155deg);
}

#menuLink6 {
  transform: rotate(205deg) translate(120.25px) rotate(-205deg);
}